
body {
	 overflow: auto;
	 height: 1200px;
	 background-color:#34333b;
	 overflow-x:hidden; 
}
form {
	height: 920px;
	width: 40%;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 680px;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 5px 5px;
}
fieldset {
	margin: 0 auto;
	width: 85%;
	margin-top: 30px;
}
input{
	margin: 0 auto;
    display: block;
    height: 40px;
    width: 95%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
input[type="text"]:focus,
input[type="hidden"]:focus,
input[type="password"]:focus{
	background-color: #E8F5FF;
}
legend {
	font-size: 28px;
	font-weight: bold;
	color: white;
}
label {
	color: white;
	font-weight: bold;
}
button{
    margin: 10px 0;
    width: 30%;
    background-color: #ffffff;
    color: black;
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4rem;
    cursor: pointer;
}
.signup_footer {
	margin-top: 900px;
}


/* footer */
.footer{
	position: absolute;
  	bottom: 900;
  	top: 1300px;
  	display: block;
  	background-color: #34333b;
	width: 100%;
	text-align: center;
}
.footer_menu {
	height: 70px; 
	position: relative;
	text-align: center;
	margin-bottom: 20px;
}
.footer_menu > a {
	display: inline-block;
	line-height: 78px;
    font-size: 15px;
    padding: 0 16px;
    position: relative;
	color: white;
}
.footer_txt {
    display: inline-block;
    height: 165px;
    width: 800px;
	margin-left: 100px;
}
.footer_logo {
	height: 200px;
	display: inline-block;
	text-align: center;
}
.flogo {
	width: 160px;
	height: 160px;	
}
.footxt {
    margin-left: 50px;
    margin-top: 15px;
    width: 500px;
    height:120px;
    display: inline-block;
  	text-align: left;
  	vertical-align: top;
}

