@charset "UTF-8";

#seatimg {
	height: 400px;
	width: 550px;
}

#review-container {
	color: white;
	margin-top: 50px;
}

.review-item, #rcontent {
	position: relative;
	margin-left: 30px ;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 20px;
	border-radius: 6px;
	width: 500px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08);
	margin-bottom:3px;
}

.btn {
	text-align:center;
	display: inline-block;
	width: 70px;
	margin-top: 30px;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
}

