@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 96vh;
	font-family: Arial, sans-serif;
	background-color: #f1f1f1;
}

.booking-form {
	width: 509px;
	padding: 20px;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.booking-form img {
	width: 200px;
	height: 300px;
	object-fit: cover;
	margin-bottom: -304px;
}

.booking-form table {
	width: 280px;
	margin-left: 229px;
	border-collapse: collapse;
}

.booking-form th, .booking-form td {
	padding: 10px;
	text-align: left;
	border: 1px solid #e1e1e1;
}

.booking-form th {
	background-color: #d1d1d1;
	font-weight: bold;
	color: #444444;
}

.buttons{
	margin-left: 12px;
}

.booking-form .nextbutton {
	width: 45%;
	padding: 10px;
	margin-top: 20px;
	background-color: #4caf50;
	border: none;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
}

.booking-form .prevbutton {
	width: 45%;
	padding: 10px;
	margin-top: 20px;
	background-color: #aaaaaa;
	border: none;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
}

.booking-form .nextbutton:hover {
	background-color: #45a049;
}
.booking-form .prevbutton:hover {
	background-color: #646464;
}