@charset "UTF-8";
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	overflow: auto;
	background-color: #34333b;
	height: auto;
}

.thdetail {
	overflow: auto;
}

.thdetail_header {
	width: 1400px;
	margin: 100px auto 0 auto;
}

.thdetail_info {
	width: 1400px;
	margin: 60px auto;
	display: block;
	height: 700px;;
}

#pimg {
	margin: 2%;
	float: left;
	width: 500px;
    height: 655px;
}

.img {
	margin-left: 200px;
	margin-top: 100px;
}

#info {
	margin-top: 1%;
	margin-right: 300px;
	float: right;
}

table {
	border-collapse: collapse;
	width: 500px;
	height:350px;
}


.tab-section {
	height: auto;
}
#cimg {
	width: 850px;
}
.booking{
	margin: 60px auto 200px auto;
	text-align:center;
}



/* 추가 부분 */
h1 { font-family: 'Pacifico', sans-serif; font-size: 2em; }
p { font-family: Helvetica, Arial, sans-serif;}

.jsOff ul#tabs {
  line-height: 1.5;
  margin: 1.125em 0;
}

.jsOn .tab-section {
  display: none;
}

.jsOn ul#tabs {
  border-bottom-style: solid;
  border-bottom-color: #a0d468;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-size: 1.5em;
  width: 1400px;
  margin: 260px auto;
}

.jsOn ul#tabs:after {
  clear: both;
  content: '';
  display: table;
}

.jsOn ul#tabs li {
  display: block;
  float: left;
}

.jsOn ul#tabs a {
  border-right: 1px solid #8cc152;
  color: white;
  display: block;
  padding: 0.5em 1.125em;
  text-decoration: none;
}

.jsOn ul#tabs li:first-child a {
  border-top-left-radius: 7px;  
}

.jsOn ul#tabs a:hover {
  background: #8cc152;
}

.jsOn .tab-section {
  color: white;
  padding: 2em;
  margin: 0 auto;
  width:1400px;
}

.jsOn .tab-section h2 {
  margin-top: 0;
}


/* footer */
.footer {
	height: 350px;
}

.footer_menu {
	height: 70px;
	position: relative;
	text-align: center;
	margin-bottom: 20px;
}

.footer_menu>a {
	display: inline-block;
	line-height: 78px;
	font-size: 15px;
	padding: 0 16px;
	position: relative;
	color: white;
}

.footer_txt {
	display: inline-block;
	height: 165px;
	width: 800px;
	text-align: center;
	margin-left: 600px;
}

.footer_logo {
	width: 200px;
	height: 200px;
	display: inline-block;
	text-align: center;
}

.flogo {
	width: 160px;
	height: 160px;
}

.footxt {
	margin-left: 50px;
	width: 500px;
	height: 200px;
	display: inline-block;
	text-align: left;
}
